{% if page.categories contains category %}
{% capture top %}
h2. {{ page.title | strip_newlines | lstrip }}
- Full information: {{ page.url | absolute_url | replace: '.html', '/' }}

h3. Keyboard test
{% for input in page.keyboard %}- *{{ input[0] | capitalize }}:* {{ input[1] | escape }}{% endfor %}
h3. Screenreader test
- *Name:* {{ page.name | strip_newlines }}
- *Role:* {{ page.role | strip_newlines }}
- *Group:* {{ page.group | strip_newlines }}
- *State:* {{ page.state | strip_newlines }}

h3. Mobile screenreader test
{% for input in page.mobile %}- *{{ input[0] | capitalize }}:* {{ input[1] | escape }}{% endfor %}
{% endcapture %}

{% capture all %}
{{ top | strip | lstrip }}
{% endcapture %}
<li>
  <input type="checkbox" id="{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}" data-success-criteria="
{{ all | strip | lstrip }}
">
  <label for="{{ category | escape }}-{{ page.url | replace_first: '/', '' | replace: '/', '-'  | replace: '.html', '' }}">
    {{ page.title | escape }}
  </label>
  <a class="checklist-link" href="{{ page.url | relative_url | replace: '.html', '/' }}">
  <span class="hidden">
  {{ page.title | escape }}
  </span>
  </a>
</li>
{% endif %}