<div>
    <div class="textarea-container">
        <label for="criteria-area" class="h-bravo">
            Success criteria
        </label>
        <textarea id="criteria-area"></textarea>
        <div class="textarea-controls">
            <div>
                <button id="copy" class="button-alpha" type="button">
                    Copy
                </button>
                <!--<input type="checkbox" role="switch" id="markdown">-->
                <!--<label for="markdown">Show Markdown</label>-->

            </div>
        </div>
    </div>
</div>