<footer class="container" id="site-footer">
  <nav aria-label="Site map">
    <ul>
      <li>
        <a href="#">
          Web checklist
        </a>
      </li>
      <li>
        <a href="#">
          Native checklist
        </a>
      </li>
      <li>
        <a href="#">
          Testable components
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl}}/about/">
          About
        </a>
      </li>
      <li>
        <a href="#">
          Contribute
        </a>
      </li>
      <li>
        <a href="#">
          Contact
        </a>
      </li>
    </ul>
  </nav>
  <p class="center-text">{{- site.description | escape -}}</p>
</footer>
