<footer class="container" id="site-footer">
  <ul>
    <li>
      {%- if site.author -%}
        {{ site.author | escape }}
      {%- else -%}
        {{ site.title | escape }}
      {%- endif -%}
    </li>
    {%- if site.email -%}
      <li>
        <a class="u-email" href="mailto:{{ site.email }}">
          {{ site.email }}
        </a>
      </li>
    <li>
      <a href="{{ site.baseurl}}/about/">
        About
      </a>
    </li>
    {%- endif -%}
  </ul>

  <div class="social">
    {%- include social.html -%}
  </div>

  <div class="description">
    <p>{{- site.description | escape -}}</p>
  </div>

</footer>
