.archive {


  .unit {
    width: auto;

    @include break($break-mid) {
      width: 50%;
      float: left;
      &:nth-of-type(2n+1) {
        clear: right;
      }
    }



    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
      @include clearfix;
      @include transition(all .8s ease-in-out);

      @include break($break-mid) {
        padding: 2rem;

      }
      .h-charlie {
        text-decoration: underline;
        padding-top: 0;

      }
      &:hover {
        background: $smoke;
      }
    }

    .calendar {
      float: left;
      width: calc(20% - 1rem);
      max-width: 4rem;
      margin-right: 1rem;

      .date {
        display: block;
        background: $charcoal;
        text-shadow: 0 -1px 0 darken($charcoal, 10);
        padding: .5rem;
        color: lighten($charcoal, 40);
        font-size: 2rem;
        border-radius: .25rem;
      }
      .month {
        display: block;
        font-size: 1.5rem;
        padding: .25rem 0;
        color: $charcoal;
        border-bottom: 1px solid lighten($gray-lite,6);
      }
      .year {
        display: block;
        padding: .25rem 0;
        color: $gray-lite;
      }
    }
    .post {
      float: left;
      width: calc(80% - 1rem);
    }


  }
}