figure {
  overflow: auto;
  -webkit-overflow-scrolling: touch;


  img {
    display: block;
    margin: 0px auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 2rem solid #fff;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 1px 3px 1px rgba($gray-lite,.4);
  }

  figcaption {
    text-align: center;
    max-width: $break-small;
    display: block;
    margin: 0px auto;

    ul {
      max-width: $break-small;
      display: block;
      margin: 0px auto;
      li {
        text-align: left;
      }
    }

  }

  iframe {
    margin: 0px auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: block;
    border: 2rem solid #fff;
    border-radius: .5rem;
    background: #fff;
    overflow: visible;
    box-shadow: 0 1px 3px 1px rgba($gray-lite,.4);
  }

}

cite {
  @include light-italic();
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  @include clearfix;

  &:before {
    content: '\2014';
  }
}