<input type="checkbox"
       id="alpha"
       aria-describedby="hint-alpha">
<label for="alpha">Alpha</label>

<div id="hint-alpha" class="hint">
  The NATO phoenetic letter for A
</div>

<label for="favorite">
  What is your favorite NATO letter?
  <span>Required</span>
</label>

<input type="text"
       id="favorite"
       aria-describedby="alert"
       required>

<div id="alert" class="inert" role="alert">
  The correct answer is Charlie
</div>

<button id="show-alert">
  Show error
</button>