<div>
  <div class="sticky top">
    <button>Get a special deal</button>
    <p>Content that sticks to the top</p>
  </div>
  <div class="vertical-spacer">
    Web page content
  </div>
</div>
<div>
  <div class="sticky top">
    <button>Get a special deal</button>
    <p>Content that sticks to the top</p>
  </div>
</div>
<div>
  <div class="vertical-spacer">
    Web page content
  </div>
  <div class="sticky">
    <button>Buy now</button>
    <p>Content that sticks to the bottom</p>
  </div>
</div>


