---
layout: default
---

<article>
    <div class="container">
        <h1 class="h-alpha center-text">
            {{ page.title | escape }}
        </h1>
    </div>
    <div class="container">
        <form>
            <div class="success-criteria-maker">
                <div class="checklist-container">
                    <h2 class="h-charlie">
                        Choose the things you need to make
                    </h2>

                    {% assign categories =  site.checklist-native | map: 'categories' | join: ','  | split: ',' | uniq  %}
                    {% for category in site.native-categories-order %}
                    <fieldset>
                        <legend class="checklist-landmark">
                            {{ category | escape | capitalize }}
                        </legend>
                        <ul>
                            {% for page in site.checklist-native %}
                                {% include checklist-loop.html %}
                            {% endfor %}
                        </ul>
                    </fieldset>
                    {% endfor %}
                </div>


                <div>
                    <div class="textarea-container">
                        <label for="criteria-area" class="h-charlie">
                            Success criteria
                        </label>
                        <textarea id="criteria-area"></textarea>
                        <div class="textarea-controls">
                            <div>
                                <button id="copy" class="button-alpha" type="button">
                                    Copy
                                </button>
                                <!--<input type="checkbox" role="switch" id="markdown">-->
                                <!--<label for="markdown">Show Markdown</label>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


</article>
