---
layout: default
---
<article>
  <div class="container post-content narrow">
    <h1 class="h-alpha">{{ page.title | escape }}</h1>

    {{ content }}

    <div>
      <a class="button secondary" href="{{ site.baseurl }}/checklist-web/{{ page.slug }}/">{{ page.title | escape }} success criteria</a>
      <a class="button secondary" href="#content">Back to top of page</a>
    </div>


    <details>
      <summary>All demos</summary>
      <ul>
        {% for page in site.demos %}
        <li>
          <a href="{{ site.baseurl }}{{ page.id }}/"> {{ page.title}}</a>
        </li>
        {% endfor %}
      </ul>

    </details>

  </div>


</article>

