---
layout: default
---
<article>
  <div class="container post-content narrow">
    <h1 class="h-alpha">{{ page.title | escape }}</h1>

    {{ content }}

    <a class="button secondary" href="{{ site.baseurl }}/checklist-web/{{ page.name | replace: '.md', '' }}/">{{ page.title | escape }} success criteria</a>
    <a class="button secondary" href="#content">Back to top of page</a>
    <ul>
      {% for page in site.demos %}
      <li><a href="{{ site.baseurl }}{{ page.url }}"> {{ page.title}}</a> </li>
      {% endfor %}
    </ul>

  </div>


</article>

